.milkdown-theme-haelp blockquote {
  @apply border-nord10 border-l-4 pl-4 font-serif not-italic;
}

.milkdown-theme-haelp code {
  @apply text-nord10 font-mono font-normal;
}

.milkdown-theme-haelp pre code {
  @apply text-inherit;
}

.milkdown-theme-haelp img {
  @apply !my-0 inline-block max-w-full;
}

.milkdown-theme-haelp.prose :where(blockquote):not(:where([class~="not-prose"] *)) {
  @apply font-normal;
}

.milkdown-theme-haelp.prose :where(ol > li):not(:where([class~="not-prose"] *))::marker,
.milkdown-theme-haelp.prose :where(ul > li):not(:where([class~="not-prose"] *))::marker {
  @apply text-nord10;
}

.milkdown-theme-haelp.prose
  :where(blockquote p:first-of-type):not(:where([class~="not-prose"] *))::before,
.milkdown-theme-haelp.prose
  :where(blockquote p:first-of-type):not(:where([class~="not-prose"] *))::after {
  content: "";
}

.milkdown-theme-haelp.prose :where(code):not(:where([class~="not-prose"] *))::before,
.milkdown-theme-haelp.prose :where(code):not(:where([class~="not-prose"] *))::after {
  content: "";
}

.milkdown-theme-haelp.prose .tableWrapper {
  @apply relative mb-2 overflow-x-auto;
}

.milkdown-theme-haelp.prose table {
  @apply !m-4 !overflow-visible text-sm shadow-md sm:rounded-lg;
}

.milkdown-theme-haelp.prose td,
.milkdown-theme-haelp.prose th {
  @apply !px-6 !py-3;
}

.milkdown-theme-haelp.prose tr {
  @apply border-b border-gray-200 dark:border-gray-600;
}

.milkdown-theme-haelp.prose :where(td, th) p {
  @apply !m-0;
}

.milkdown-theme-haelp.prose :where(td, th):nth-child(odd) {
  @apply bg-gray-50 dark:bg-gray-900;
}

.milkdown-theme-haelp.prose.ProseMirror .selectedCell:after {
  @apply bg-nord8/30;
}

/* A little workaround to turn the element into a space */
.milkdown-theme-haelp.prose br[data-is-inline="true"],
.milkdown-theme-haelp.prose br[data-is-inline="true"]::after {
  content: " ";
}
