@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow: hidden;
}

body {
  position: relative;
  height: 100vh;
}

.bungee {
  font-family: "Bungee Shade", cursive;
}
.firacode {
  font-family: "Fira Code", monospace;
}

*,
::before,
::after {
  box-sizing: border-box;
}

*:not(input),
::before,
::after {
  transition: all 0.2s ease;
}

*:focus-visible {
  outline: none;
}

::-webkit-scrollbar {
  appearance: none;
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(15 23 42);
  margin: 2px;
  width: 8px;
  border-radius: 8px;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
}

::-webkit-scrollbar-track {
  background: rgb(0 0 0 / 20%);
}

.milkdown h1 {
  color: white !important;
}
.milkdown h2 {
  color: white !important;
}
.milkdown h3 {
  color: white !important;
}
.milkdown h4 {
  color: white !important;
}
.milkdown h5 {
  color: white !important;
}
.milkdown h6 {
  color: white !important;
}
.milkdown p {
  color: white !important;
}
.milkdown a {
  color: white !important;
  text-decoration: underline;
}
.milkdown strong {
  color: white !important;
}
.milkdown em {
  color: white !important;
}
.milkdown ul {
  color: white !important;
}
.milkdown ol {
  color: white !important;
}
.milkdown li {
  color: white !important;
}
