@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: relative;
  height: 100vh;
}


.bungee {
  font-family: 'Bungee Shade', cursive;
}
.firacode {
  font-family: 'Fira Code', monospace;
}

*, ::before, ::after {
  box-sizing: border-box;
  transition: all .2s ease;
}