@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: relative;
  height: 100vh;
}


.bungee {
  font-family: 'Bungee Shade', cursive;
}